.large-7.columns
  #newsFeed.panel
    -@swits = Swit.all.order('created_at desc')
    -if signed_in?
      - @swits.each do |swit|
        .row
          .large-3.columns.small-3
            %img{src: "http://placehold.it/100x100&text=[#{swit.user.username}]"}
          .large-9.columns
            %p
              %strong
                = swit.user.username
                said:
              = swit.content
              %br
              %ul.inline-list
                %li
                  %em
                    Posted  
                    = time_ago_in_words(swit.created_at)
                    ago.
                %li
                  %strong{style: "color: red"}
                    = link_to "Sweet", vote_up_swit_path(swit.id), :method => :post, color: "red"
                %li
                  %strong
                    = link_to "Sour", vote_down_swit_path(swit.id), :method => :post
              %ul.inline-list
                %li
                  -@comments = swit.comments
                  = "#{pluralize(swit.comments.count, "Comment")}"
                %li
                  = "#{pluralize(Vote.find_by_sql("SELECT * FROM votes WHERE votes.voteable_id = #{swit.id} AND votes.vote = 't'").count, "Sweet")}"
                %li
                  = "#{pluralize(Vote.find_by_sql("SELECT * FROM votes WHERE votes.voteable_id = #{swit.id} AND votes.vote = 'f'").count, "Sour")}"
                %br
                - @comments.each do |comment|
                  .row
                    .large-3.columns.small-3
                      %img{src: "http://placehold.it/50x50&text=[#{comment.user.username}]"}/
                      =comment.user.username
                    .large-9.columns
                      %br
                      =comment.content
                      %br
                      .timestamp
                      %br
                      Posted 
                      = time_ago_in_words(comment.created_at)
                      ago.
                      %hr
                .row
                  .large-3.columns.small-3
                    %br
                    %img{src: "http://placehold.it/50x50&text=[#{current_user.username}]"}/
                    = current_user.username
                  #comment_area.large-9.columns
                    -@comment = Comment.new
                    = form_for @comment do |f|
                      - if @comment.errors.any?
                        #error_explanation
                          %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
                          %ul
                            - @comment.errors.full_messages.each do |msg|
                              %li= msg
                      .field
                        = f.label :content, "Comment to Swit:"
                        = f.text_area :content, placeholder: "Write a comment.. :)", rows: 4
                      .field
                        = f.hidden_field :user_id, value: current_user.id
                      .field
                        = f.hidden_field :swit_id, value: swit.id
                      .actions
                        = f.submit 'Comment', class: "button success tiny radius center right"
        %hr

