!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : ".::Switter | Home::."
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    #contain
      - flash.each do |key, value|
        %div{class: "alert alert-#{key}"}= value
      -if signed_in?
        = yield :logged_in
      -else
        = yield :index
    = render 'layouts/footer'
    = javascript_include_tag "application"